services:
  poppit:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: poppit-service
    read_only: true
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - REDIS_ADDR=host.docker.internal:6379
      - REDIS_PASSWORD=${REDIS_PASSWORD:-}
      - REDIS_LIST_NAME=${REDIS_LIST_NAME:-poppit:notifications}
    restart: unless-stopped